@font-face {
    font-family: DMSerifTextRegular;
    src: url(./fonts/DMSerifText-Regular.ttf);
  }

  @font-face {
    font-family: DMSerifTextItalic;
    src: url(./fonts/DMSerifText-Italic.ttf);
  }

  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Niconne&display=swap');


body,ul, li, p,a{
    margin: 0;
    padding:0px;
    list-style: none;
    font-size: 20;
    font-family: Arial, Helvetica, sans-serif;
    background-color: fce4ec;
    font-family: DMSerifTextRegular;
    
}

a{
    text-decoration: none;
    color:white;
}

.cabecalho{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}

.menu{
    display: flex;
    gap: 250px;
    align-items: center;
    margin-bottom: 25px;
}

.menu li{
    margin-left: 10px;
    border-style: solid;
    border-color: pink;
    border-radius: 5px;
}

.menu li a{
    display: block;
    padding: 10px;
    background-color: pink;
}

.logo img{
    max-width: 160px;
    width: 160px;
    max-height: 100px;
    height: 100px;
}

.coluna{
    display: flex;
    gap:250px;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.coluna img{
    max-width: 300px;
    width: 300px;
    max-height: 300px;
    height: 300px;
    border-style: solid;
    border-radius: 5px;
    border-color: pink; 
    margin:80px;
    margin-top: 15px;
}

.ordem{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: flex-start;
    display: flex;
    gap: 250px;
    align-items: center;
}

.ordem li {
    margin-left: 10px;
    align-items: center;
    color:antiquewhite;
 
}

